# User Input

In [95]:
a = 21
print(a)

21

In [92]:
a = input() # always returns string
print(a)

5
5

In [93]:
a = int(input('Enter a number: ')) # always returns string
print(a + 23)

Enter a number: 7
30

In [96]:
name = input('Enter your name: ') # always returns string
print('Your name is ' + name)

Enter your name: tias
Your name is tias

# Loop

In [94]:
numbers = [1, 56, 78, 8]

for n in numbers:
    print(n)
    print('ok')
print('not')

1
ok
56
ok
78
ok
8
ok
not

In [97]:
for i in range(len(numbers)):
    print(numbers[i])

1
56
78
8

In [ ]:
# for(i=0; i<10; i++){}
# range
for i in range(2,100,5):
    print(i, end = ' ')

In [98]:
# print even number
for i in range(0,10,2):    
    print(i)

0
2
4
6
8

In [99]:
# print even number
for i in range(10):  
    if i % 2 == 0:
        print(i)

0
2
4
6
8

In [ ]:
# print even number
for i in range(10):  
    if i % 2 == 1:
        continue
    print(i)

In [100]:
# indent
i = 7
if i < 5: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
print('not okay') # will be executed in each run

bad
not okay

In [102]:
# loop
for i in range(10,100,10):
    print(i)
    print("ok")
print("done")

10
ok
20
ok
30
ok
40
ok
50
ok
60
ok
70
ok
80
ok
90
ok
done

In [101]:
myjob = "bangladesh"
for c in 'myjob': 
    print(c,end='\n')

m
y
j
o
b

In [103]:
for i in range(5, 10):
    print(i)

5
6
7
8
9

# IF, IF ELSE, ELSE IF

In [ ]:
# if
a = 1
if a > 2:
    print ('greater')

In [ ]:
# if-else
a = 1
if a > 2:
    print ('greater')
else:
    print( 'smaller')

In [ ]:
a = 77
if a < 10:
    print('small')
elif a < 20:
    print('medium')
elif a < 50:
    print('larger')
else:
    print('out of range')

# Method

In [ ]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [ ]:
addnumbers(8, 9) # use or call method

In [ ]:
addnumbers(33, 66)

In [ ]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [ ]:
v = [5, 4,12, 7]
addValues(v)

In [ ]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

In [ ]:
# task: write a method which will add numbers of two different lists
# returns another list
# Example:
# [3,4,5,1]
# [6,7,2,8]
# output: [9,11,7,9]

In [ ]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [ ]:
multiTable(17,15)

In [ ]:
multiTable(5)

In [ ]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman 
# output: 
#first name: Arafat
#last name: Rahman

# getNames('Arafat Rahman')
 def getNames():
        #define logic

In [ ]:
def getNames(firstName, lastName):
    fullName = firstName+" "+lastName
    return fullName

## Lesson 2 (String)

In [106]:
'shrubbery', "shrubbery"

('shrubbery', 'shrubbery')

In [108]:
'knight"s', "knight's"

('knight"s', "knight's")

In [107]:
title = "Meaning " 'of' " Life"
title

'Meaning of Life'

In [109]:
'knight\'s', "knight\"s"

("knight's", 'knight"s')

In [110]:
s = 'a\nb\tc'
print(s)

a
b	c

In [111]:
len(s)

5

In [112]:
s = '\001\002\x03'
print(s)



In [113]:
x = "C:\py\code"
print(x)

C:\py\code

In [114]:
len(x)

10

In [115]:
mantra = """Always look
... on the bright
... side of life."""
print(mantra)

Always look
on the bright
side of life.

In [116]:
'ni' + u'spam'

'nispam'

In [117]:
str(u'spam')

'spam'

In [118]:
u'ab\x20cd'

'ab cd'

In [119]:
u'ab\U00000020cd'

'ab cd'

In [120]:
u'ab\u0020cd'

'ab cd'

In [121]:
len('abc')

3

In [122]:
'abc' + 'def'

'abcdef'

In [123]:
'Ni!' * 4

'Ni!Ni!Ni!Ni!'

In [124]:
'-'*80

'--------------------------------------------------------------------------------'

In [125]:
myjob = "hacker"
for c in myjob:
    print(c)

h
a
c
k
e
r

In [126]:
"k" in myjob

True

In [127]:
"z" in myjob

False

In [128]:
S = 'spam'
S[0], S[-2]

('s', 'a')

In [129]:
S[1:3], S[1:], S[:-1]

('pa', 'pam', 'spa')

In [130]:
S = 'abcdefghijklmnop'
S[1:10:2]

'bdfhj'

In [131]:
S[::2]

'acegikmo'

In [132]:
S = 'hello'
S[::-1]

'olleh'

In [133]:
S = 'abcedfg'
S[5:1:-1]

'fdec'

In [134]:
"42" + 1

TypeError: can only concatenate str (not "int") to str

In [135]:
int("42"), str(42)

(42, '42')

In [136]:
str(3.1415), float("1.5")

('3.1415', 1.5)

In [137]:
text = "1.234E-10"
float(text)

1.234e-10

In [138]:
ord('s')

115

In [139]:
chr(115)

's'

In [140]:
S = '5'
S = chr(ord(S) + 1)
S

'6'

In [143]:
S = chr(ord(S) + 1)
S

'8'

In [142]:
int('5')

5

In [144]:
ord('5') - ord('0')

5

In [145]:
B = '1101'
I = 0
while B:
    I = I * 2 + (ord(B[0]) - ord('0'))
    B = B[1:]
I

13

In [146]:
S = S + 'SPAM!' # To change a string, make a new one
S

'8SPAM!'

In [147]:
'spamSPAM!'
S = S[:4] + 'Burger' + S[-1]
S

'8SPABurger!'

In [148]:
S = 'splot'
S = S.replace('pl', 'pamal')
S

'spamalot'

In [149]:
S = 'spammy'
S = S[:3] + 'xx' + S[5:]
S

'spaxxy'

In [150]:
S = 'spammy'
>>> S = S.replace('mm', 'xx')
>>> S

'spaxxy'

In [151]:
S = 'spammy'
L = list(S)
L

['s', 'p', 'a', 'm', 'm', 'y']

In [152]:
S = ''.join(L)
S

'spammy'

In [153]:
'SPAM'.join(['eggs', 'sausage', 'ham', 'toast'])

'eggsSPAMsausageSPAMhamSPAMtoast'

In [154]:
line = 'bob,hacker,40'
line.split(',')

['bob', 'hacker', '40']

In [155]:
line = "i'mSPAMaSPAMlumberjack"
line.split("SPAM")

["i'm", 'a', 'lumberjack']

In [156]:
line = "The knights who sy Ni!\n"
line.rstrip( )

'The knights who sy Ni!'

In [157]:
line.upper()

'THE KNIGHTS WHO SY NI!\n'

In [158]:
line.isalpha( )

False

In [159]:
line.endswith('Ni!\n')

True

In [160]:
line.find('Ni') != -1

True

In [161]:
'Ni' in line

True

In [162]:
sub = 'Ni!\n'
line.endswith(sub)

True

In [163]:
line[-len(sub):] == sub

True

## Lesson 3 (List and Dictionaries)

In [164]:
len([1, 2, 3])

3

In [165]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [166]:
['Ni!'] * 4

['Ni!', 'Ni!', 'Ni!', 'Ni!']

In [167]:
3 in [1, 2, 3]

True

In [168]:
for x in [1, 2, 3]: 
    print(x)

1
2
3

In [169]:
str([1, 2]) + "34"

'[1, 2]34'

In [170]:
[1, 2] + list("34")

[1, 2, '3', '4']

In [171]:
L= ['spam', 'Spam', 'SPAM!']
L[2]

'SPAM!'

In [172]:
L[-2]

'Spam'

In [173]:
L[1:]

['Spam', 'SPAM!']

In [174]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix[1]

[4, 5, 6]

In [175]:
matrix[2][0]

7

In [176]:
L = ['spam', 'Spam', 'SPAM!']
L[1] = 'eggs' # Index assignment
L

['spam', 'eggs', 'SPAM!']

In [177]:
L[0:2] = ['eat', 'more']
L

['eat', 'more', 'SPAM!']

In [178]:
L.append('please')
L

['eat', 'more', 'SPAM!', 'please']

In [179]:
L.sort()
L

['SPAM!', 'eat', 'more', 'please']

In [180]:
L = [1, 2]
L.extend([3,4,5])
L

[1, 2, 3, 4, 5]

In [181]:
L.pop()

5

In [182]:
L.reverse()

In [183]:
del L[0]

In [184]:
d2 = {'spam': 2, 'ham': 1, 'eggs': 3} # Make a dictionary
d2['spam']

2

In [185]:
d2

{'spam': 2, 'ham': 1, 'eggs': 3}

In [186]:
len(d2)

3

In [187]:
d2.keys()

dict_keys(['spam', 'ham', 'eggs'])

In [188]:
d2 = {'spam': 2, 'ham': 1, 'eggs': 3}
d2.values( )

dict_values([2, 1, 3])

In [189]:
d2.items()

dict_items([('spam', 2), ('ham', 1), ('eggs', 3)])

In [190]:
d2.get('spam')

2

# Lesson 4 (Tuples)

In [191]:
(1, 2) + (3, 4)

(1, 2, 3, 4)

In [192]:
(1, 2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

In [193]:
T = (1, 2, 3, 4)
T[0], T[1:3]

(1, (2, 3))

In [194]:
x = (40)

In [195]:
y = (40,)
y

(40,)

In [196]:
T = ('cc', 'aa', 'dd', 'bb')
tmp = list(T)
tmp.sort()
tmp

['aa', 'bb', 'cc', 'dd']

In [197]:
T = tuple(tmp) # Make a tuple from the list's items
T

('aa', 'bb', 'cc', 'dd')

In [198]:
T = (1, 2, 3, 4, 5)
L = [x + 20 for x in T]
L

[21, 22, 23, 24, 25]