# Example of Number operations

In [2]:
12 + 89

101

In [5]:
a = 123 / 22
print(a)

5.590909090909091

In [6]:
b = a*8
print(b)

44.72727272727273

In [3]:
2 ** 5

32

In [2]:
1.5*4

6.0

In [3]:
2**100

1267650600228229401496703205376

# Import Class

In [8]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(15)

3.872983346207417

In [11]:
print(1+2)
print(a*4)
print(a/b)

3
22.363636363636363
0.125

# Check object type

In [13]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [14]:
c = 123
print(type(c))

<class 'int'>

In [15]:
d = '123'
print(type(d))

<class 'str'>

# Example of String operations

In [18]:
name = 'asif "rahman'
print(name)

asif "rahman

In [19]:
name = "asif 'rahman"
print(name)

asif 'rahman

In [22]:
'asif ' * 5

'asif asif asif asif asif asif asif '

In [24]:
'asif '+'rahman'

'asif rahman'

In [32]:
name = 'Afsar Mahmud sayed'
sub = 'sar'
name.count(sub)

1

In [60]:
name[0:5]

'Afsar'

In [56]:
name[-3:]

'yed'

In [33]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
name.islower()

False

In [35]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [37]:
separator = '=='
mystrings = ['Himel', 'Liton', 'Hasan']
separator.join(mystrings)

'Himel==Liton==Hasan'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

# List

In [41]:
data = [21,['rahman', 56000], 4.50, 'Dhaka']

In [61]:
data[0]

[21, ['rahman', 56000]]

In [63]:
data[0:2]

[21, ['rahman', 56000]]

In [45]:
data[1]

['rahman', 56000]

In [46]:
data[1][0]

'rahman'

In [47]:
len(data)

4

In [50]:
data[-1]

'Dhaka'

In [64]:
data

[21, ['rahman', 56000], 4.5, 'Dhaka']

In [68]:
data.append(100)
print(data)

[21, ['rahman', 56000], 4.5, 'Dhaka', 100, 100]

In [72]:
data.remove(4.5)
print(data)

[21, ['rahman', 56000], 'Dhaka', 100, 100]

In [73]:
data.pop(1)
print(data)

[21, 'Dhaka', 100, 100]

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Dictionary

In [74]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [76]:
person['Rating']

4.5

In [25]:
len(person)

4

In [78]:
#person.has_key('Name')
'Name' in person.keys()

True

In [79]:
'niaz' in person['Name']

True

In [80]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

# I did

# Numbers

In [4]:
123+220

343

In [6]:
1.5*3

4.5

In [5]:
5**2

25

In [7]:
print (20*5)

100

In [8]:
import math
math.pi

3.141592653589793

In [9]:
math.pi*3

9.42477796076938

In [10]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [14]:
math.cos(45)

0.5253219888177297

In [15]:
math.sin(90)

0.8939966636005579

In [16]:
math.sqrt(49)

7.0

In [28]:
import random
random.random()

0.07778933931512111

In [29]:
random.choice([5, 9, 7, 11])

11

# String

In [18]:
str = "The Earth"
print(str)

The Earth

In [19]:
len(str)

9

In [20]:
str[0]

'T'

In [21]:
str[5-1]

'E'

In [22]:
str[-1]

'h'

In [24]:
str[len(str)-3]

'r'

In [25]:
str[1:3]

'he'

In [26]:
str[:5]

'The E'

In [27]:
str[:]

'The Earth'

In [30]:
country = "Bangladesh"
print(country)

Bangladesh

In [31]:
city = "Dhaka"

In [32]:
city + ", "+ country

'Dhaka, Bangladesh'

In [33]:
city*5

'DhakaDhakaDhakaDhakaDhaka'

In [34]:
city.find("ka")

3

In [35]:
country.replace("Bangla", "Amar ")

'Amar desh'

In [36]:
text = "London,Berlin,Tokyo,Moscow"
text.split(",")

['London', 'Berlin', 'Tokyo', 'Moscow']

In [37]:
city.upper()

'DHAKA'

In [38]:
country.lower()

'bangladesh'

In [42]:
city.isalpha()

True

In [46]:
message = "My name is\n Khan"
print (message)

My name is
 Khan

# List

In [47]:
myList = [10, "Phoneix", 14.65]
myList[2]

14.65

In [48]:
myList[1]

'Phoneix'

In [49]:
len(myList)

3

In [50]:
myList[1:2]

['Phoneix']

In [52]:
myList+["Haven", "Spawn", 90, 89.60]

[10, 'Phoneix', 14.65, 'Haven', 'Spawn', 90, 89.6]

In [53]:
print(myList)

[10, 'Phoneix', 14.65]

In [54]:
myList.append("Hexa")

In [55]:
print(myList)

[10, 'Phoneix', 14.65, 'Hexa']

In [56]:
myList.pop(2)

14.65

In [57]:
print(myList)

[10, 'Phoneix', 'Hexa']

In [58]:
newList = [7, 54, 28, 4, 10, 32]

In [60]:
newList.sort()
print(newList)

[4, 7, 10, 28, 32, 54]

In [61]:
newList.reverse()
print(newList)

[54, 32, 28, 10, 7, 4]

In [62]:
nestedList = [5, 10, ["Rose", "Red"], "Bird", 10.5]
print(nestedList)

[5, 10, ['Rose', 'Red'], 'Bird', 10.5]

In [63]:
nestedList[1]

10

In [64]:
nestedList[2]

['Rose', 'Red']

In [65]:
nestedList[2][1]

'Red'

#Dictionaries

In [66]:
D = {'Product': 'Pant', 'quantity': 4, 'color': 'blue'}
D["Product"]

'Pant'

In [67]:
D["color"]

'blue'

In [71]:
D["quantity"] += 2
D

{'Product': 'Pant', 'quantity': 8, 'color': 'blue'}

In [72]:
person = {'name': {'first': 'Walter', 'last': 'White'},
'job': ['teacher', 'cook'],
'age': 55}

In [73]:
person["name"]

{'first': 'Walter', 'last': 'White'}

In [74]:
person["name"]["first"]

'Walter'

In [75]:
person["age"]

55

In [76]:
person["job"].append("car washing")
person

{'name': {'first': 'Walter', 'last': 'White'},
 'job': ['teacher', 'cook', 'car washing'],
 'age': 55}

In [77]:
D = {'a': 1, 'b': 2, 'c': 3}
D

{'a': 1, 'b': 2, 'c': 3}

In [79]:
Ks = D.keys()
Ks

dict_keys(['a', 'b', 'c'])